<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
@model List<DataGov_API_Intro_6.Models.Food>


@{ ViewData["Title"] = "WholeNutirnts"; }


<h2>Food Details</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" style="float:right">
                @Html.ActionLink("Create New", "Createnewpage")
            </button>
        </div>
    </div>
</div>


@*@foreach (DataGov_API_Intro_6.Models.Food food in Model)
{
    @(food.foodCode + " "+ food.description) @Html.ActionLink("nutrient details", "FoodNutrients", "Home", new { fdcId = food.fdcId } ) <br />
    <p>Edit</p>
    <p>Delete</p>

}*@

<table id="dairy" class="table table-bordered">
                <caption style="color: white;">Dairy sales Statistics report</caption>
                <thead>
                    <tr>

                        
                        <th>FDCID</th>
                        <th>Food Code</th>
                        <th>Description</th>
                        <th>Unit Name</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataGov_API_Intro_6.Models.Food food in Model)
                    {
           
                 <tr>

                            
                            <td>@food.fdcId</td>
                            <td>@food.foodCode</td>
                            <td>@food.description</td>
                            <td>
                                @Html.ActionLink("nutrient details", "WholeNutirnts", "Home", new { fdcId = food.fdcId } )

                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Createnewpage", "Home", new { fdcId = food.fdcId })
                                @Html.ActionLink("Delete", "Delete", "Home", new { fdcId = food.fdcId } )
                            </td>
                  
                        </tr>
                
            
           

                    }

                </tbody>
            </table>