<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
@model List<DataGov_API_Intro_6.Models.Food>


@{ ViewData["Title"] = "WholeNutirnts"; }

<body style="background-color:#9cff0721">
    @*url('/js/Project Theme.png');*@

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Food Details</h2>       
        </div>
    </div>
</div>

<p>

    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-10">
                <b>Food Description: </b> @Html.TextBox("desc")  <input type="submit" required="required" value="search" class="btn btn-success" role="button" data-toggle="tooltip" title="Search" />
                @*@Html.TextBoxFor(food.description, new { @class = "form-control", placeholder = "fdcId", required="required"})*@
            </div>
            <div class="col-sm-2">              
                    @Html.ActionLink("Create New", "Createnewpage")
               
            </div>
            
        </div>
        <br />
    }
 </p>
@*@foreach (DataGov_API_Intro_6.Models.Food food in Model)
{
    @(food.foodCode + " "+ food.description) @Html.ActionLink("nutrient details", "FoodNutrients", "Home", new { fdcId = food.fdcId } ) <br />
    <p>Edit</p>
    <p>Delete</p>

}*@

<table class="table table-bordered">
                
                <thead>
                    <tr>

                        
                        <th>FDCID</th>
                        <th>Food Code</th>
                        <th>Description</th>
                        <th>Unit Name</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataGov_API_Intro_6.Models.Food food in Model)
                    {
           
                 <tr>

                            
                            <td>@food.fdcId</td>
                            <td>@food.foodCode</td>
                            <td>@food.description</td>
                            <td>
                                @Html.ActionLink("nutrient details", "WholeNutirnts", "Home", new { fdcId = food.fdcId } )

                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Createnewpage", "Home", new { fdcId = food.fdcId })
                                @Html.ActionLink("Delete", "Delete", "Home", new { fdcId = food.fdcId },new { onclick = "return confirm('Are sure wants to delete?');" } )
                            </td>
                  
                        </tr>
                
            
           

                    }

                </tbody>
            </table>
            </body>