<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
@model ICollection<DataGov_API_Intro_6.Models.Food>


@{ ViewData["Title"] = "WholeNutirnts"; }


<h2>Whole Nutrients</h2>


@*@foreach (DataGov_API_Intro_6.Models.Food food in Model)
{
    @(food.foodCode + " "+ food.description) @Html.ActionLink("nutrient details", "FoodNutrients", "Home", new { fdcId = food.fdcId } ) <br />
    <p>Edit</p>
    <p>Delete</p>

}*@

<table id="dairy" class="table table-bordered">
                <caption style="color: white;">Dairy sales Statistics report</caption>
                <thead>
                    <tr>

                        <th>Food Description</th>
                        <th>Number</th>
                        <th>Name</th>
                        <th>amount</th>
                        <th>Unit Name</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataGov_API_Intro_6.Models.Food food in Model)
                    {
            @foreach (DataGov_API_Intro_6.Models.FoodNutrients item in food.foodNutrients)
            {
                 <tr>

                            <td>@food.description</td>
                            <td>@item.number</td>
                            <td>@item.name</td>
                            <td>@item.amount</td>
                            <td>@item.unitName</td>
                            
                  
                        </tr>
                
            }
           

                    }

                </tbody>
            </table>